@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container-fluid #navbar {
    background-color: #F47320;
    height: 200px;
    color: #fff;
}

#navbar div:nth-child(1) div span,
        div:nth-child(2) div span,
        div:nth-child(3) div span,
        div:nth-child(4) div span,
        div:nth-child(5) div span,
        div:nth-child(6) div span {
    padding-top: 15px;
}

#navbar div:nth-child(7) button {
    margin-top: 15px;
}

#navbar div:nth-child(7) img {
    margin-top: -45px;
    z-index: -1;
}

#navbar div:nth-child(7) button {
    width: 100%;
    z-index: 1;
}

#navbar div:nth-child(5) button {
    width: 100%;
    margin-top: 25px;
}

#navbar {
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

#icon {
    color: green !important;
}
